/*css portafolio.html*/
body,html{
	width: 100%;
	height: 100%;
	font-family: 'Merienda One', cursive;
	color: #524A53;
}
a{
	text-decoration: none;
}
a:active,
a:hover,a:focus{
	text-decoration: none;
}
/*header*/
header{
	width: 100%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10000;
	/*padding: 1% 0%;*/
}
header a{
	font-size: 16px;
}
.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
}
.navbar-default{
	border: none;
}
.navbar-toggle:focus,
.navbar-toggle:hover,
.navbar-default{
	background-color: #fff !important;
}
.active{
	color: #ccc!important;
}
/*hero*/
.hero{
	width: 100%;
}
.hero .row{
	margin: 0px;
}
.hero .col-sm-6,
.hero .col-xs-12{
	padding: 0px;
}
.hero .media-heading{
	font-family: 'Montserrat', sans-serif;
	font-size: 42px;
	color: #fff;
	font-weight: 600;
}
.bg-dark{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
}
.phase{
	padding: 200px 0% 5% 5%;
	height: 400px;
	background-color: #ED6866;
}
.slider{
	height: 400px;
	background: url("../img/bg1.jpg") no-repeat;
	background-size: 100% 150%;
}
.about-me{
	padding: 5% 0%;
	font-family: 'Open Sans', sans-serif;
	background-color: #EDEDED;
}
.about-me h2,
.skill h2{
	font-family: 'Handlee', cursive;
}
.about-me img{
	border-radius: 100%;
}
.about-me h3{
	font-family: 'Merienda One', cursive !important;
}
.about-me .linea{
	border: 1px solid #ccc;
	display: inline-block;
	width: 15%;
	margin-bottom: 6px;
}
.about-me i{
	font-size: 2em;
	color: #bababa;
}
.about-me .description{
	padding: 0% 10%;
	text-align: justify;
}
.about-me .btn{
	padding: 1% 3%;
	background-color: #EF7674;
	color: #fff;
	display: inline-block;
}
.skill{
	padding-top: 5%;
}
.portfolio{
	padding: 5% 0%;
	font-family: 'Roboto', sans-serif;
}
.portfolio img{
	width: 90%;
	height: 300px;
	padding: 5% 0%;
}
.contact{
	padding-bottom: 5%;
}
input, textarea {
	width:100%;
	height:48px;
	border:1px solid #E2E0E0;
	padding:6px;
	margin:1% 0%;
	font-size:1em;
	color:black;
}
textarea {
	height:126px;	
}
#submit{
	color: white;
	width:100%;
	height:48px;
	border:none;
	margin:1% 0%;
	cursor:pointer;
	background-color: #EF7674;
	border-radius: 2px;
}
#submit:hover,
.about-me .btn:hover{
	background-color: #fff;
	color: #EF7674;
	border: 2px solid #EF7674;
}
#nombre{
   background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    padding: 5px 5px 5px 25px;
    background-size: 34px 17px;
    background-position: -5px 14px;
    background-repeat: no-repeat;
}
#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    padding: 5px 5px 5px 25px;
    background-size: 34px 17px;
    background-position: -4px 16px;
    background-repeat: no-repeat;
}
#mensaje{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	padding: 5px 5px 5px 25px;
	background-size: 34px 17px;
	background-position: -5px 6px;
	background-repeat: no-repeat;
}
footer{
	padding: 1% 0%;
	background-color: #EDEDED;
}