/*css portafolio.html*/
body,html{
	width: 100%;
	height: 100%;
	font-family: 'Merienda One', cursive;
}
/*header*/
.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
}
.hero-image{
	width: 100%;
	height: 90%;
	background: url("../img/hero-image.jpg") center;
	background-size: 100% 100%;
	color: #fff;
}
.frase{
	padding: 22% 10%;
}
.hero-image img{
	position: absolute;
	left: 48%;
	bottom: 10px;
}
.about-me{
	padding: 5% 0%;
}
.about-me h3{
	font-family: 'Merienda One', cursive !important;
}
.portfolio{
	font-family: 'Roboto', sans-serif;
}
.portfolio img{
	width: 100%;
	height: 300px;
}
/*.portfolio h2{
	font-weight: 700;
}*/