/*css portafolio.html*/
body,html{
	width: 100%;
	height: 100%;
	font-family: 'Hind', sans-serif;
	color: #524A53;
}
a{
	text-decoration: none;
}
a:active,
a:hover,a:focus{
	text-decoration: none;
}
/*header*/
header{
	width: 100%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10000;
	font-weight: 700;
}
header a{
	font-size: 18px;
}
.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
}
.navbar-default li a,
.navbar-default .navbar-brand{
	color: #fff !important;
}
.active {
	color: #ccc!important;
}
.navbar-default li a :hover{
	color: 	#FF7D5D;
}
.navbar-default{
	background-color: rgba(255,0,0,0.3) !important;
	border: none;
}
/*hero*/
.hero-image{
	width: 100%;
	height:100%;
	background: url("../img/hero.jpg") center;
	background-size: 100% 100%;
	color: #fff;
}
.hero h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 44px;
	color: #fff;
	font-weight: 600;
}
.bg-dark{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	position: absolute;
}
.phase{
	padding-top: 25% ;
}
.phase a{
	padding: 1% 20px;
	display: inline-block;
	background-color: #FF7D5D;
	color: #fff;
	border: 2px solid #fff;
	margin-top: 2%;
}
.phase a:hover{
	background-color: #fff;
	color: #FF7D5D;
	border: 2px solid #FF7D5D;
	transition: 0.5s;
}
.hero-image i{
	font-size: 33px;
	color: #fff;
	padding-top: 8%;
}
.slider{
	height: 400px;
	background: url("../img/bg1.jpg") no-repeat;
	background-size: 100% 150%;
}
.about-me{
	padding: 5% 0%;
	font-family: 'Open Sans', sans-serif;
	background-color: #EDEDED;
}
.about-me h2,
.skill h2{
	font-family: 'Montserrat', sans-serif;
}
.about-me img{
	border-radius: 100%;
}
.about-me h3{
	font-family: 'Handlee', cursive;
}
.about-me .description{
	padding: 0% 10%;
	text-align: justify;
}
.about-me .btn{
	padding: 1% 3%;
	background-color: #EF7674;
	color: #fff;
	display: inline-block;
}
.skill{
	padding-top: 5%;
}
.skill img{
	width: 	60%;
}
.portfolio{
	padding: 5% 0%;
	font-family: 'Roboto', sans-serif;
}
.portfolio img{
	width: 90%;
	height: 300px;
	padding: 5% 0%;
}
.contact{
	padding-bottom: 5%;
}
input, textarea {
	width:100%;
	height:48px;
	border:1px solid #E2E0E0;
	padding:6px;
	margin:1% 0%;
	font-size:1em;
	color:black;
}
textarea {
	height:126px;	
}
#submit{
	color: white;
	width:100%;
	height:48px;
	border:none;
	margin:1% 0%;
	cursor:pointer;
	background-color: #EF7674;
	border-radius: 2px;
}
#submit:hover,
.about-me .btn:hover{
	background-color: #fff;
	color: #EF7674;
	border: 2px solid #EF7674;
}
#nombre{
   background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    padding: 5px 5px 5px 25px;
    background-size: 34px 17px;
    background-position: -5px 14px;
    background-repeat: no-repeat;
}
#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    padding: 5px 5px 5px 25px;
    background-size: 34px 17px;
    background-position: -4px 16px;
    background-repeat: no-repeat;
}
#mensaje{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	padding: 5px 5px 5px 25px;
	background-size: 34px 17px;
	background-position: -5px 6px;
	background-repeat: no-repeat;
}
footer{
	padding: 1% 0%;
	background-color: #EDEDED;
}

/*css utilities*/
