/*css portafolio.html*/
body,html{
	width: 100%;
	height: 100%;
	font-family: 'Merienda One', cursive;
	color: #524A53;
}
a{
	text-decoration: none;
}
a:active,
a:hover,a:focus{
	text-decoration: none;
}
/*header*/
/*header{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10000;
}*/
.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
}
.navbar-default{
	border: none;
}
.navbar-toggle:focus,
.navbar-toggle:hover,
.navbar-default{
	background-color: #fff !important;
}
.active{
	color: #ccc!important;
}
/*hero*/
/*.hero-image{
	width: 100%;
	height:100%;
	background: url("../img/hero.jpg") center;
	background-size: 100% 100%;
	color: #fff;
}*/
.hero{
	width: 100%;
	height: 100%;
}
.hero .row{
	margin: 0px;
}
.hero .col-sm-6,
.hero .col-xs-12{
	padding: 0px;
}
.bg-dark{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
}
.phase{
	height: 400px;
	background-color: #ED6866;
}
.slider{
	height: 400px;
	background: url("../img/bg1.jpg") no-repeat;
	background-size: 100% 150%;
}
.about-me{
	padding: 5% 0%;
	font-family: 'Roboto', sans-serif;
}
.about-me img{
	border-radius: 100%;
}
.about-me h3{
	font-family: 'Merienda One', cursive !important;
}
.about-me .description{
	padding: 0% 10%;
	text-align: justify;
}
.portfolio{
	font-family: 'Roboto', sans-serif;
}
.portfolio img{
	width: 90%;
	height: 300px;
	padding: 5% 0%;
}
/*.portfolio h2{
	font-weight: 700;
}*/